<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DateNow - 코스 상세보기</title>
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <main class="main-content">
    <section id="mycourse-detail-section">
      <h2 id="detail-course-title">코스 제목</h2>
      <div class="place-container card-list"></div>
      <div class="course-description">
        <h3>소개글</h3>
        <p id="course-description">코스 설명입니다.</p>
      </div>
      <button id="recommend-button" class="recommend-btn">추천 코스로 등록</button>
    </section>
  </main>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/my_courses_detail.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/member_gg.js}"></script>
</body>
</html>
