<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>DateNow – 로그인</title>
  <link rel="stylesheet" th:href="@{/css/signin.css}" />
</head>
<body>
<div class="signin-container">
  <h1 class="logo">💖 DateNow.</h1>

  <form id = "signinForm">
    <div class="field">
      <label for="userId">아이디</label>
      <input type="text" id="userId" name = "userId" placeholder="아이디를 입력하세요." />
    </div>

    <div class="field">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name = "password" placeholder="비밀번호를 입력하세요." />
    </div>

<!--    <label class="remember-label">-->
<!--      <input type="checkbox" name="remember-me" class="remember-checkbox" />-->
<!--      로그인 유지-->
<!--    </label>-->

    <button type="button" class="btn-login" id="loginBtn">로그인</button>
  </form>
  <div style="margin-top: 20px; text-align: center;">
    <a href="/oauth2/authorization/github" style="
    display: inline-block;
    padding: 10px 20px;
    background-color: #24292e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
           alt="GitHub" style="height: 20px; vertical-align: middle; margin-right: 8px;" />
      GitHub로 로그인
    </a>
  </div>

  <div class="links">
    <a th:href="@{/member/signup}">아직 회원이 아니신가요?</a>
  </div>
  <div class="links">
    <a th:href="@{/member/find-password}">비밀번호 찾기</a>
  </div>
</div>
<script>
  const params = new URLSearchParams(window.location.search);
  const error = params.get("error");

  if (error) {
    alert(error);
  }
</script>

<div th:if="${param.msg}" th:text="${param.msg}" id="alert-msg" style="display:none;"></div>
<script>
  document.querySelector("#loginBtn").addEventListener("click", async ev => {
    const userId = document.querySelector("#userId").value;
    const password = document.querySelector("#password").value;

    const res = await fetch("/auth/signin", {
      method:"POST",
      body:JSON.stringify({"username":userId, "password":password}),
      headers:{
        "Content-Type":"application/json"
      }
    });

    if(!res.ok){
      const data = await res.json()
      alert(data.message)
    }

    if(res.ok) location.href = "/";
  })
</script>
</body>
</html>